* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  h1 a {
    color: white;
    text-decoration: none;
  }
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #8B0000;
    color: white;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  /* Sidebar/left column */
  .side1 {
    flex: 25%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 50%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
 /* Side2 column */
  .side2 {
    flex: 25%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .side2 a{
    display: block;
    text-decoration: none;
    color: #333;
    margin: 20px 0px 20px 100px;
  }

  .side2 a:hover{
    color: #8B0000;
  }
  
  /* Fake image*/
  .fakeimg {
    background-image: url("https://www.autocar.co.uk/sites/autocar.co.uk/files/images/car-reviews/first-drives/legacy/model_3_red.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
    padding: 20px;
  }
  .sideimg{
    background-image: url("https://live.staticflickr.com/65535/48551239576_1b9bf1efde_b.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  /* Online support */
  @keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
  }

  
  .fixed {
		position: fixed;
		right: 0;
		bottom: 0;
		width: 100px;
		height: 100px;
		padding-top: 30px;		
		text-decoration: none;		
		text-align: center;
    font-size: 15px;		
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
    background-color: #8B0000;
    color: white;
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
    border-style: solid;
    border-color: #333;
  }

  .fixed:hover{
    width: 200px;
    height: 200px;
    padding-top: 60px;
    -webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
    transform: rotate(-360deg); 
    border-width: 0px; 
  }

  .fixed span.fixed{
    opacity: 0;
		
  }
  .fixed span:hover{
    opacity: 1;
    border-width: 10px;
    font-size: 23px;
   
  }


	/* .round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
  } */
  
  /* .round span:hover {
		opacity: .85;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
	} */

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
    .main{
      padding: 0px;
    }
    .fixed{
      display: none;
    }
  }